.loadMacrosIsotipo {
    svg {
        width: 100px;
        height: 100px;
    }

    .lmiDraw {
        fill: transparent;
        stroke-linecap: round;
        stroke-linejoin: round;

        /* longitud inicial */
        stroke-dasharray: 1500;
        stroke-dashoffset: 1500;


        fill: rgba(255, 255, 255, 0.2);
        stroke: white;
        stroke-width: 5px;

        stroke-dasharray: 200 1200;
        animation: loadingStroke 1.5s linear infinite;
    }

    .lmiDraw-2 {
        animation-delay: 0.5s;
    }
}

@keyframes loadingStroke {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -1400;
    }
}