.textFieldPassword{
    .MuiFormLabel-root{
        transform: translate(25px, 33px) scale(1);
    }
    
    .MuiInputBase-root{
        border: 1px solid blue;
        height: auto;
        padding: 20px 0px 0px 25px;
        border: 1px solid #D5E2D6;
        border-radius: 25px;
        &::before,
        &::after{
            display: none;
        }
        .MuiInputAdornment-root{
            margin-top: -20px;
            margin-right: 10px;
        }
    }
    .MuiFormLabel-root.Mui-focused{
        transform: translate(25px, 22px) scale(0.75);
    }
    .MuiInputLabel-shrink {
        transform: translate(25px, 22px) scale(0.75);
    }
}

.profEditBox{
    .formRowBtn{
        width: 100%;
        justify-content: flex-start;
        .btnPrimary{
            svg{
                margin-left: 10px;
            }
        }
    }
    .title{
        width: 100%;
        display: inline-block;
        padding: 0px 0px 0px 55px;
        margin: 0px 0px 20px 0px;
        position: relative;
        .ico{
            width: 40px;
            height: 40px;
            position: absolute;
            border-radius: 50%;
            left: 0px;
            top: 0px;
            bottom: 0px;
            margin-top: auto;
            margin-bottom: auto;
            background: linear-gradient(to bottom,  rgba(225,243,228,1) 0%,rgba(255,248,226,1) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0,0,0,.02);
            img{
                width: auto;
                display: block;
                height: 20px;
            }
        }
        h3{
            font-size: 16px;
        }
    }
}